{% extends '../template.html' %}

{% block content %}
<h1>Bienvenue dans la page Home</h1>
     <a class ="btn btn-dark" href='/produits/create/' > Nouveau produit</a>
  <h3> la liste des produits</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Prix</th>
      </tr>
    </thead>
    <tbody>
      {%  for article in X  %}
      <tr>
        <td>{{ article.nom }}</td>
        <td>{{ article.description }}</td>
        <td> {{ article.prix }}</td>
        <td><a class="btn btn-danger" href='/produits/{{article.id}}'>supprimer</a></td>
        <td><a class="btn btn-warning" href='/produits/edit/{{article.id}}'>modifier</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock  %}
 